<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @block.index %>
</p>

<p>
  <strong>Previous hash:</strong>
  <%= @block.previous_hash %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @block.timestamp %>
</p>

<p>
  <strong>Hash:</strong>
  <%= @block.hash %>
</p>

<p>
  <strong>Data:</strong>
  <%= @block.data %>
</p>

<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
